.app {
  text-align: left;
}

.app-header {
  background-color: #282c34;
  display: flex;
  padding-left: 16px;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}

.sections-container {
  padding-left: 16px;
}

.section-actions{
  display: flex;
}

.vaccines-container {
  display: flex;
}

